body{
    margin: 0px;
    padding: 0px;
   
  
}

.search11{
width: 70%;
height: 77%;
flex-grow: 1;
background-color: rgba(242, 242, 242,1);
position: absolute;
margin-left: 15%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
display: flex;
flex-direction: column;
/* align-items: center; */
/* gap: 10px; */
/* justify-content: center; */
overflow-y: scroll;
z-index: 2;


}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}