
:root{
  --bgcolor:white;
  --color:black;

}
[data-theme="dark"]{
  --bgcolor:rgba(3, 3, 3, 0.782);
  --color:white;
}





body{
  padding: 0px;
  margin: 0px;
  background-color:var(--bgcolor);
  transition: background 1s, color 0.3s;
  /* background-color: black; */
  /* background-color: black; */

  

  
}

.signinpage{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  
}

